body{
    background-color: azure;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1
{
    margin-top:10%;
}
#increment-btn,#save-btn
{
    font-size:2vw;
    font-family:monospace;
    font-weight: bold;
    padding:1%;
    border-radius: 1vw;
    background-color:rgb(151, 183, 243);
}
#increment-btn:hover,#save-btn:hover 
{
    background-color:rgb(84, 143, 253);
}
